* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: green;
  border: 1px solid green;
  border-radius: 8px;
  padding: 8px;
}
